.productBox {
  width: 250px;
  height: 450px;

  margin-right: 25px;

  .mainProductImg {
    width: 250px;
    height: 320px;
    margin-bottom: 15px;
    cursor: pointer;
    object-fit: cover;
  }
  .productName {
    margin-bottom: 7px;
    cursor: pointer;
  }
}
